pkgbase = vkpost
	pkgdesc = A Vulkan Post Processing Layer For Linux. Next Gen vkBasalt.
	pkgver = 0.4.5
	pkgrel = 2
	url = https://github.com/KowabungaOfficial/vkPost
	install = vkpost.install
	arch = x86_64
	license = zlib
	makedepends = meson
	makedepends = ninja
	makedepends = spirv-headers
	makedepends = vulkan-headers
	depends = gcc-libs
	depends = glslang
	depends = libx11
	optdepends = reshade-shaders-git
	source = https://github.com/KowabungaOfficial/vkPost/releases/download/v0.4.5/vkPost-0.4.5.tar.gz
	sha256sums = 81995306af4708c141515cafdf5b8bafa6e1bcd4ce7ae151de9d4e7bf9c9dfa7

pkgname = vkpost
